<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="yardIdSection" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<yardIdSection>
		<!--key=Yard Port, value=Yard Id-->
		<add key="XXX" value="XXX"/>
	</yardIdSection>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--EZCash host IP         XXX.XXX.XXX.XXX-->
		<add key="Ip" value="XXX.XXX.XXX.XXX" />
		<!--EZCash API URL/Hostname-->
		<add key="EZCashAPI" value="https://XXX/api/v1/customer_barcodes/" />
		<!--EZCash API Token-->
		<add key="EZCashAPIToken" value="XXX"/>
	</appSettings>


</configuration>